  <!-- start sectoion contact -->

  <div id="contact" class="paddsection">
    <div class="container">
      <div class="contact-block1">
        <div class="row">

          <div class="col-lg-6">
            <div class="contact-contact">

              <h2 class="mb-30">GET IN TOUCH</h2>

              <ul class="contact-details">
                <li><span>Perumahan Pesona Kahuripan, Cikahuripan</span></li>
                <li><span>Bogor, Indonesia</span></li>
                <li><a href="https://web.whatsapp.com/send/?phone=083863383399&text&type=phone_number&app_absent=0">+62 83863383399</a></li>
                <li><span>gestyar@gmail.com</span></li>
              </ul>

            </div>
          </div>
          <div class="col-lg-6">
            
            <form #sendEmailForm="ngForm" (submit)="onSubmit($event)" method="post" role="form">
              <div *ngIf="showNotifSuccess" class="notification success">{{message}}</div>
              <div *ngIf="showNotifErrorr"  class="notification errorr">{{message}}</div>    
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group contact-block1">
                    <input type="text" [(ngModel)]="formData.name" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" [(ngModel)]="formData.email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email"/>
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="formData.subject" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject"/>
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <div class="form-group">
                    <textarea class="form-control" [disabled]="!sendEmailForm.valid" [(ngModel)]="formData.message" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                    <div class="validation"></div>
                  </div>
                </div>

                <div class="col-lg-12">
                  <input type="submit" class="btn btn-defeault btn-send">
                </div>       
              
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- start sectoion contact -->